body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  /* height: 10rem; */
  cursor: pointer;
  padding: .5rem;
}

.card:hover {
  background-color: #eee;
}

.add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.archived-label {
  margin: 1rem;
  background-color: gray;
  color: white;
  padding: .5rem;
  border-radius: 5px;
  font-size: .75em;
}

.item {
  
}